.Rproj.user
.Rhistory
.RData
.DS_Store
R/.DS_Store
Vignettes/.DS_Store
Vignettes/*cache
Vignettes/*files
Vignettes/*.Rdata
Vignettes/*.Rhistory
Vignettes/Reprosim/*cache*
Vignettes/Reprosim/*files*
gh-pages
Vignettes/Advanced/*cache*
Vignettes/Advanced/*files*
Manual/manual.synctex.gz
Manual/manual.toc
Manual/manual.out
Manual/manual.aux
Manual/manual.log
Manual/manual.tex